// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }



// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

/****************** Common Classes ********************/

h2{
  font-weight: 100;
}

.text-center{
  text-align: center;
}

.v-middle{
  vertical-align: middle;
}

.d-block{
  display : block !important;
}

.b-color{
  background-color: #f4f4f4;
}

small{
  font-size: smaller !important;
}

.bx--grid{
  max-width: 100% !important;
}

hr{
  height: 1px;
  margin: -5px 0 10px ;
  opacity: 0.24;
  border: solid 1px #979797;
}

.m-0{
  margin: 0 !important;
}

.p-0{
  padding: 0 !important;
}


/************** Header CSS *******************/
  
.bx--header{
  background-color: #ffffff !important;
  border-bottom: none;
  box-shadow: 0px 0px 2px black;
}

.logo{
  width: 130px;
  height: 0px;
  border-style: inset;
  border-bottom: 48px solid black;
  border-right: 40px solid transparent;
  float: left;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  // background-color: black;
  color: white;
  // padding: 11px 51px 11px 24px !important;
  // font-size: 1.5rem !important;
  // border-right: ;
}

.logo span {
  top: 10px;
  font-size: 27px;
  // left: -47px;
  color: white;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
  display: inline-block;
}

.header-icons svg {
  fill: gray;
}

.header-side-buttons {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.header-side-buttons div {
  // margin: 0px 10px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.avatar{
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #2c2c2c;
}

/****************** Side Nav CSS *************************/

a.bx--side-nav__link, .bx--side-nav a.bx--header__menu-item, .bx--side-nav .bx--header__menu-title[aria-expanded="true"] + .bx--header__menu{
  height: 46px !important;
  width: 50px !important;
  outline: 0 !important;
  box-shadow: 0 !important;
}

.bx--side-nav.bx--side-nav--rail:not(.bx--side-nav--fixed):hover, .bx--side-nav--expanded {
  width: 3rem;
}

.bx--side-nav__navigation.bx--side-nav.bx--side-nav--rail.bx--side-nav--ux{
  box-shadow: 0px 0px 5px black;
}

.bottomSideNav{
  position: absolute; 
  bottom: 20px;
}

.bx--side-nav__overlay{
  display: none !important;
}

.active a.bx--side-nav__link::before, a.bx--side-nav__link--current::before {
  background-color: black !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  content: "";
}
.active a.bx--side-nav__link, a.bx--side-nav__link--current {
  font-weight: 600;
  background-color: #e5e5e5 !important; 
}

/*********************** Analytics CSS *******************************/

.analyticsCard{
  height: 45vh;
  width: 100%;
  background-color: white;
  padding:2vh;
}

.sessionsCard{
  height: 45vh;
  width: 100%;
  background-color: white;
  position: relative;
}

.sessionsCard h2{
  padding: 2vh 2vh 0 2vh;
}

.sessionsCard div{
  padding: 2vh 3vh 0 3vh;
}

.analyticsHeading{
  font-weight: 100;
}

.summaryDetails{
  padding: 0 0 0 10%;
}

.summaryDetails p{
  color: gray;
  font-size: 14px;
  margin: 0 !important;
}

.summaryDetails > div{
  margin: 20px;
}


.sessionDetails{
  padding: 5% 0;
}

.chartjs-render-monitor {
  width: 100% !important;
  height: 100% !important;
}

.sessiontable table {
  width: 100%;
}

.sessiontable {
  padding: 0 !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sessiontable td{
  width: 33.33%;
  padding: 4px;
  border: 3px solid #f5f5f5;
  border-bottom: none;
  line-height: 20px;
}

.sessiontable td:first-child{
  border-left: none;
}
.sessiontable td:last-child{
  border-right: none;
}

.paymentSection{
  width: 100%;
  height: 90vh;
  background-color: white;
  padding:2vh;
}

.paymentDetails {
  padding: 4vh 0 0 30px;
}

.paymentDetails table {
  margin-top: 20px;
  width: 100%;
}

.paymentDetails td {
  width: 33.33%;
  padding: 5px 0;
  text-align: center;
}

.paymentDetails td{
  text-align: left;
  text-indent: 20px;
}

.upcomingEventsCard, .contributorsCard{
  display: flex; 
  background-color: white;
}

.upcomingEventsCard .author{
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-top: 3px;
}
.upcomingEventsCard .author .avatar{
  width: 22px;
  height: 22px;
  border: 0 !important;
}

.upcomingEventsCard .author p{
  font-size: 11px;
  margin-left: 6px;
}
.upcomingEventsCard .eventTime p{
  width: 100%;
  // flex-basis: 100%;
  font-size: 10px;
}

.upcomingEventsCard .time span{
  font-size: 10px;
display: block; 
}
.upcomingEventsCard .time > span{
  font-size: 20px;
padding: 2px 0 0 4px;
}
.upcomingEventsCard .time{
  display: flex;
}

.upcomingEventsCard .eventTime h4{
  font-size: 20px;
  text-align: center;
}

.upcomingHeading{
  margin: 15px 0 0 0;
}

.cardsMargin{
  margin: 15px 0;
}

.upcomingEventsCard .eventTime {
  // display: flex;
  // align-items: center;
  padding: 20px 14px 14px;
  // flex-wrap: wrap;
  color: white;
  background-color: #4b4b4b;
  width: 100px;
  height: 100px;
  position: relative;
}

.upcomingEventsCardInner b{
  font-weight: bold;
}

.upcomingEventsCardInner {
  width: 100%;
  padding: 4px 4px 4px 10px;
  position: relative;
}

.upcomingEventsCardInner h4{
  font-size: 16px;
  height: 44px;
  font-weight: bold;
}

.upcomingEventsCardInner > p {
  font-size: 12px;
  margin-bottom: 2px;
}

.upcomingEventsCard > img{
  width: 70px;
  height: 100px;
}

.contributorsCard > img{
  width: 100px;
  height: 100px;
}

.dropdown{
  height: 20px;
  position: absolute;
  top: 6px;
  right: 6px;
  width: auto;
}

.dropdown img {
  height: 20px;
  cursor: pointer;
}
.dropdown-items {
  display: none;
  position: absolute;
  font-size: 10px;
  box-shadow: -2px 4px 3px 0px rgba(0, 0, 0, 0.3);
  top: 26px;
  right: 6px;
}

.drop-item {
  background-color: #f4f4f4;
  color: #525252;
  padding: 7px 14px;
  cursor: pointer;
  width: 110px;
}

.drop-item:nth-child(2) {
  background-color: #e5e5e5;
  color: #161616;
}

.contributorCardInner{
  width: calc(100% - 100px);
  padding: 6px 10px 4px;
  position: relative;
}

.reviewsNid{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 17px;
  text-align: center;
}

.reviewsNid strong{
  font-size: 12px;
  font-weight: 700;
}



/***************** Events Style ******************/

.bx--tabs--scrollable .bx--tabs--scrollable__nav-item--selected .bx--tabs--scrollable__nav-link, .bx--tabs--scrollable .bx--tabs--scrollable__nav-item--selected .bx--tabs--scrollable__nav-link:focus, .bx--tabs--scrollable .bx--tabs--scrollable__nav-item--selected .bx--tabs--scrollable__nav-link:active{
    font-size: 25px;
    width: auto;
    border-bottom-color: black !important;
    border-bottom-width: 3px;
}

.bx--tabs--scrollable__nav-link{
  font-size: 25px !important;
  width: auto !important;
  border-bottom-color: transparent !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.eventsTabs > h4 {
  margin: 17px 0;
}

.icon-down, .icon-up{
  width: 22px;
  height: 16px;
  margin: 0;
  object-fit: contain;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.icon-down img, .icon-up img{
  width: 20px;
}

.headingWithButtons{
  display: flex;
  align-items: center;
}

.eventDetails{
  width: 30rem;
  border: 0;
  background-color: white;
}

.bx--header-panel{
  background-color: white !important;
}

.headingWithButtons > div{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.closeBtn{
    background: transparent;
    border: 0;
    box-shadow: none !important;
    padding: 7px;
    cursor: pointer;
}

.closeBtn img{
  width: 24px;
}

.gallery-1{
  width: 100%;
  height: 44vh;
}

.gallery-all{
  width: 49%;
  height: 14.58vh;
  margin: 0 0 0 1px;
}

.footerButtons{
  background-color: #2c2c2c;
  height: 6vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.eventDetailsTabs{
  overflow: auto;
}

.eventDetailsTabs .bx--tabs--scrollable__nav-link {
  font-size: 12px !important;
}

.eventDetailsTabs .bx--tab-content {
  padding: 1rem;
  height: 38vh;
  overflow-y: auto;
}

.eventDetailsTabs #overview__panel > h4{
  color: black;
  width: 300px;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.eventDetailsTabs #overview__panel .author img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.eventDetailsTabs #overview__panel .author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.eventDetailsTabs #overview__panel .author > p:nth-child(2) {
  margin-left: 10px;
}
.eventDetailsTabs #overview__panel .author p {
  color: #4b4b4b;
  font-size: 11px;
}
.eventDetailsTabs #overview__panel .author p strong{
  font-weight: 700;
  text-decoration: underline;
}

.eventDetailsTabs #overview__panel .author .rating{
  width: 15px;
  height: 15px;
}
.eventDetailsTabs #overview__panel > p{
  font-size: 12px;
  color: #4b4b4b;
  line-height: 2 !important;
}

.cancelEventText {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cancelEventText h4{
  width: 70%;
  font-size: 17px;
  color: black;
  margin-bottom: 10px;
  font-weight: 600;
}

.cancelEventText p {
  width: 70%;
  font-size: 12px;
  color: black;
}

.footerButtons button {
  font-size: 11px;
  margin: 8px 0 0 8px;
  padding: 1vh 27px;
  width: 150px;
  justify-content: center;
  color: #f5f5f5;
  min-height: auto !important;
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}
